<%= form_tag dogs_path, method: :get, class: 'search_tabs' do %>

  <div class="d-flex">
    <div class="breed-dropdown mr-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Breed</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <% Dog.all.pluck(:breed).uniq.sort.each do |breed| %>
          <input class="checkbox" type="checkbox" name="breed[]" value="<%= breed %>" label="<%= breed %>"> <%= breed %> <br>
        <% end %>
      </div>
    </div>

    <div class="age-dropdown mr-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Age</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <% Dog.all.pluck(:age).uniq.sort.each do |age| %>
            <input class="checkbox" type="checkbox" name="age[]" value="<%= age %>" label="<%= age %>"> <%= age %> <br>
            <% end %>
        </div>
    </div>

    <div class="location">
      <%= text_field_tag :location, params[:location],
      class: "form-control", placeholder: "Location"%>
    </div>


    <div class="price-dropdown ml-3 d-flex align-items-center">
        <h1 class="mb-0">Price:&nbsp;</h1>

        <%= @min %>
        <input type="range" class="custom-range" name="price" min="<%= @min %>" max="<%= @max %>" id="price-range">
        <%#= @max %>
    <div class="d-flex justify-content-center" id="price-number">
    </div>
  </div>
  </div>

  <div class="submit-buttons">
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <%= link_to 'Reset', root_path, class: 'button'  %>
  </div>
<% end %>
