
<div class="row">
  <div class="col-md-6" style="padding: 0px !important">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/2449533/pexels-photo-2449533.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
      <div class="homepage-card">
        <h1 class="text-left">You want a puppy just for your morning walks?</h1>
        <div class="homepage-button align-item-left">
          <%= link_to "Rent a Dog", "#all-dogs" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6" style="padding: 0px !important">
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/247968/pexels-photo-247968.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
      <div class="homepage-card">
        <h1 class="text-left">Preocupied with your job and your pups is left home alone?</h1>
        <div class="homepage-button align-item-left">
         <%= link_to "Add a Dog", new_dog_path, class: "m-0"%>
       </div>
     </div>
   </div>
  </div>
</div>


<%= form_tag dogs_path, method: :get, class: 'search_tabs' do %>
  <div class="tabs">
    <div class="breed-dropdown mr-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Breed</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <% Dog.all.pluck(:breed).each do |breed| %>
          <input type="checkbox" name="breed[]" value="<%= breed %>" label="<%= breed %>"> <%= breed %> <br>
        <% end %>
      </div>
    </div>

    <div class="age-dropdown mr-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">age</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <% Dog.all.pluck(:age).each do |age| %>
            <input type="checkbox" name="age[]" value="<%= age %>" label="<%= age %>"> <%= age %> <br>
            <% end %>
        </div>
    </div>

    <div class="location">
      <%= text_field_tag :location, params[:location],
      class: "form-control", placeholder: "location"%>
    </div>

    <div class="price-dropdown">
      <div class="d-flex ">
        <ul>price:</ul>
        <%= @min %>
        <input type="range" class="custom-range" name="price" min="<%= @min %>" max="<%= @max %>" id="price-range">
        <%= @max %>
      </div>
     <div class="d-flex justify-content-center" id="price-number"> </div>
  </div>
</div>

  <div class="submit-buttons">
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <%= submit_tag "Reset", class: "btn btn-primary" %>
  </div>
<% end %>

<div>
  <h1>All dogs</h1>
  <div class="d-flex flex-wrap mx-5 mb-5 px-5 d-inline-flex p-2">
    <% @dogs.each do |dog| %>
    <div class="card-product">
      <%= cl_image_tag dog.image.url, height: 300, width: 400, crop: :fill %>
     <div class="card-product-infos">
      <%= link_to dog.name, dog_path(dog) %>
      <p>Age: <%= dog.age %></p>
      <p> $ <%=  dog.price %></p>
    </div>
  </div>
  <% end %>
</div>
</div>

<script>
  const priceNumber = document.querySelector("#price-number");
  const priceRange = document.querySelector("#price-range");
  priceRange.addEventListener("change", (event) => {
    priceNumber.innerHTML = "";
    priceNumber.insertAdjacentHTML("afterbegin", event.target.value);
  })
</script>
