
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1523480717984-24cba35ae1ef?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
        <div class="homepage-card">
          <h1 class="text-left">Craving a companion?</h1>
          <%= link_to "Rent a Dog", "#all-dogs", class: "homepage-button align-item-left" %>
        </div>
      </div>
      </div>
      <div class="carousel-item">
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1550227384-d7b148fb3f50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
          <div class="homepage-card">
            <h1 class="text-left">Preocupied with your job and your pup is left home alone?</h1>
            <div class="homepage-button align-item-left">
             <%= link_to "Add a Dog", new_dog_path, class: "m-0"%>
           </div>
         </div>
       </div>
     </div>
   </div>
   <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="search-form-container">
  <%= render 'search_dog' %>
</div>
  <div class="arrow bounce">
    <a class="fa fa-arrow-down fa-2x" href="#"></a>
  </div>
<div class="all-dogs-h1">
  <h1>All Dogs</h1>
  <div class="d-flex flex-wrap mx-5 mb-5 px-5 d-inline-flex p-2">
    <% @dogs.each do |dog| %>
    <div class="card-product">
      <%= cl_image_tag dog.image.url, height: 300, width: 400, crop: :fill %>
      <div class="card-product-infos">
        <%= link_to dog.name, dog_path(dog) %>
        <p>Age: <%= dog.age %></p>
        <p> $ <%=  dog.price %>/day</p>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script>
  const priceNumber = document.querySelector("#price-number");
  const priceRange = document.querySelector("#price-range");
  priceRange.addEventListener("change", (event) => {
    priceNumber.innerHTML = "";
    priceNumber.insertAdjacentHTML("afterbegin", event.target.value);
  })
</script>
