<div class = "container">
  <img class="img-fluid w-5" alt="Responsive image" src="<%= @dog.image %>" >
    <h1><%= @dog.name %></h1>
  <div class = "dog_card">

      <li>Age: <%= @dog.age %></li>
      <li>Breed: <%= @dog.breed %></li>
      <li>Price: <%= @dog.price %></li>
      <li>Location: <%= @dog.location %></li>
      <li>Owner: <%= @dog.user.name %></li>

      <%= link_to "Edit this Dog", edit_dog_path(@dog), class: "btn btn-primary" %>
      <%= link_to "Delete this Dog", dog_path(@dog), method: :delete, class: "btn btn-primary" %>
</div>

<div class = "rent_dog">

<%= simple_form_for [@dog, @renting] do |f| %>
  <%= f.input :start %>
  <%= f.input :end %>
  <%= f.submit "Book this Dog", class: "btn btn-primary" %>
<% end %>
</div>

</div>


